<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <!--
    Android Rule 07. Miscellaneous - For OAuth, identify relying party and its user permissions scope.

    OAuth was designed to provide a secure authorization mechanism for websites. It defines a process for 
    end-users to grant a third-party website the access to their private resources stored on a service provider. 
    Relying party is the third-party website. When requesting a user permission for information from a service 
    provider, display what the relying party is and the scope of its permissions.
    
    The permissions scope may to read and write files, view users on your domain, or geolocation.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".Rule07Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rule06Activity"
            android:exported="false" />
        <activity
            android:name=".Rule00Activity"
            android:exported="false" />
        <activity
            android:name=".Rec01Activity"
            android:exported="false" />
        <activity
            android:name=".Rec00Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>
